/* CARRUSEL */
.custom-carousel img {
  max-height: 300px;
  object-fit: cover;
}
.custom-carousel {
  margin-bottom: 2rem;
}

/* LOGO NAVBAR */
.logo-navbar {
  height: 90px;
}
.h3 {
  font-family: 'Times New Roman', Times, serif;
}

/* CENTRAR TÍTULO */
.container h2 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* IGUALAR TAMAÑO DE IMÁGENES EN TARJETAS */
.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* FONDO POST CARRUSEL */
.post-carrusel-section {
  background-color: #fcf1f0;
  padding: 40px 20px;
}

/* FOOTER */
.footer-custom {
  background-color: #fcf1f0;
  color: #333;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 40px;
}

/* Tabla de mitos y realidades */
.tabla-mitos th {
  background-color: #fff0f0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.tabla-mitos td {
  vertical-align: middle;
  background-color: #fff0f0;
}

/* TÍTULOS CENTRADOS */
.titulo-centrado {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FONDO TARJETAS */
.card {
  background-color: #fcf1f0;
}

/* COLOR PERSONALIZADO PARA NAVBAR */
.navbar-custom {
  background-color: #fcf1f0 !important;
}
